<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jforce.chapelhillnextbus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_white_nobezel"
        android:label="@string/activity_main_title"
        android:theme="@style/Theme.Chapelhillnavy"
        tools:replace="android:label,android:icon" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDiGRLCtc8_FAbelTOySRQcvexRWe2zgyU" />

        <!--
        <activity
            android:name=".OldHomeActivity"
            android:label="@string/activity_main_title" >
        </activity>
        -->
        <activity
            android:name=".ExpandingCellsActivity"
            android:label="@string/activity_main_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jforce.chapelhillnextbus.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/activity_main_title"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jforce.chapelhillnextbus.HomeActivity" />
        </activity>
        <activity
            android:name=".MapStopActivity"
            android:label="@string/title_activity_map_stop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jforce.chapelhillnextbus.HomeActivity" />
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jforce.chapelhillnextbus.HomeActivity" />
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>
